*{
    box-sizing: border-box;
}

#gameboxx{
    margin: 2rem;
}
.gamebox {
    width: 5rem !important;
    aspect-ratio: 1 / 1;
    border: 1px solid white;
    font-size: 3rem;
    color: white;
    
}